:root {
    /* from PBS KIDS: https://coolors.co/f06543-e8e9eb-e0dfd5-313638-f09d51 */
    --sunshine:#F5B338;
    --pbs-kids-typeface:#00AB4E;
    --clifford:#FB4241;
    --blue:#2FC0EB;
    --chriskratt: #1A8549;
}

.img-link {
    text-align: center;
}

.footer-info {
    font-size: 24px;
    color: var(--sunshine);
    font-weight: bold;
    background-color: var(--clifford);
    text-align: center;
}

h1 {
    margin: auto 30px;
    padding: 10px;
    color: var(--blue);
    font-weight: bold;
}

#topics {
    font-size: small;
    font-style: italic;
    color: var(--blue);
}

#card-title {
    margin-top: 10px;
    color: var(--blue);
    text-shadow: 1px 1px 6px var(--clifford);
}

#footer {
    padding: 5px;
    margin-top: 10px;
}

.icon {
    padding: 10px;
}

#contact-section {
    justify-content: center;
    margin: 20px;
    margin-left: 2em;
    margin-right: 2em;
}

.error-text {
    color: var(--blue);
}

#footer {
    background-color: var(--pbs-kids-typeface);
}

#footer .icon {
    background-color: var(--pbs-kids-typeface);
    margin-top: 20px;
}

#footer p {
    background-color: var(--pbs-kids-typeface);
    margin-top: 8px;
}

#footer a {
    text-decoration: none;
    color: var(--pbs-kids-typeface);
}

#react-icon {
    background-color: var(--pbs-kids-typeface);
}